# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Declare files that will always have LF or CRLF line endings on checkout.
*.sln text eol=crlf
*.bat text eol=crlf
*.sh text eol=lf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary

# Exclude from git archive
.gitkeep export-ignore
